<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="shortcut icon" type="image/x-icon" href="/helio/public/favicon.ico"/>
            {#<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">#}
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/animate-it/css/animations.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/animate-it/css/animations-ie-fix.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/sogacss/tarjetasClientes.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/sogacss/listaCommits.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/sogacss/caracteristicasProducto.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/assets/css/sogacss/testimoniosClientes.css') }}">
            <link rel="stylesheet" href="{{ asset('/helio/public/build/sllider.css') }}">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        {% endblock %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/helio/public/assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/js/slider.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/animate-it/js/css3-animate-it.js') }}"></script>
            {#<script src="{{ asset('/helio/public/assets/js/sogajs/listaCommits.js') }}"></script>#}
            <script src="{{ asset('/helio/public/assets/js/sogajs/tarjetasClientes.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/js/sogajs/caracteristicasProducto.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/js/sogajs/testimoniosClientes.js') }}"></script>
            <script src="{{ asset('/helio/public/assets/sllider/slider.js') }}"></script>
        {% endblock %}
    </body>
</html>
